body {
    margin: 0px
}

button {
    border-radius: 2px;
    background-color: rgba(51, 122, 183, 1);
    color: whitesmoke;
    fill: whitesmoke;
    font-weight: bold;
    border: none;
    outline: none;
    padding: 0.4em 0.5em 0.4em 0.5em;
    display:flex;
    justify-content:space-around;

}

button:disabled {
    color: rgb(114, 149, 180);
    fill: rgb(114, 149, 180);
}

.controlArea {
    display: grid;
    grid-template-columns: 35px 120px 35px 35px auto 200px;
    position: fixed;
    width:100%;
}

.imageArea {
    margin: 0px
}