/* Styling for the simple query return */

/*Throbber for loading button*/
.glyphicon-refresh-animate {
    -animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}


/* style tags*/
.titlesection {
   background-color: #FFFFFF;
   position:fixed;
  }

.spacerrow {
	height:10px;
} /*the row before the controls */

.titlerow {
	padding-top:10px;
  padding-bottom:10px;
  font-size:large;
  height: 40px;
  background-color: #555555;
} /*the title row*/

.titlecell {
	text-align: center;
  font-weight:normal;
} /*the cells in the title row*/

.claim-text {
	margin-left: 20px;
	text-indent: -20px;
	margin-bottom: 5px;
} /*Comes from the database with this class applied*/

.claim-dependent {
	color: #A0A0A0;
} /*make dependent claims grey in text*/

.toprow {
  height: 100px;
}
/* style by ID */
#includeFile {

}

/* style by tag */
claim-ref {
	font-weight: bold;
} /*used by dependent claims to reference the independent they depend from */
