{
  "presets": [
    "env",
    "stage-0",
    "preact"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-decorators",
    [
      "transform-react-jsx",
      {
        "pragma": "h"
      }
    ],
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}