{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "electron": "8.1.1"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-function-bind",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "h"
      }
    ]
  ]
}
